$s-grid-size: 30px;
$s-grid-color: #1e1e1e;
$s-grid-background: #00f10e;

.c-grid {
  display: flex;
  flex-direction: column;
  &__row {
    display: flex;
    margin-top: -$s-grid-size/3;
    &:nth-of-type(2n) {
      margin-left: $s-grid-size/2;
    }
    &:first-of-type {
      margin-top: 0;
    }
  }
  &__col {
    margin-left: -1px;
    &:first-of-type {
      margin-left: 0;
    }
  }
  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    text-align: center;
    color: $s-grid-color;
  }

  // Hextagon styles
  &__hex {
    position: relative;
    width: $s-grid-size;
    height: 17.32px;
    background-color: $s-grid-background;
    margin: 8.66px 0;
    border-left: solid 1px $s-grid-color;
    border-right: solid 1px $s-grid-color;

    &:before,
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 21.21px;
      height: 21.21px;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background-color: inherit;
      left: 3.3934px;
    }

    &:before {
      top: -10.6066px;
      border-top: solid 1.4142px $s-grid-color;
      border-right: solid 1.4142px $s-grid-color;
    }

    &:after {
      bottom: -10.6066px;
      border-bottom: solid 1.4142px $s-grid-color;
      border-left: solid 1.4142px $s-grid-color;
    }


    cursor: pointer;
    &:hover {
      background-color: darken($s-grid-background, 25%);
    }

    &--red {
      background-color: red;
    }

    &--level-1 {
      background-color: darken($s-grid-background, 5%);
      &:hover {
        background-color: darken($s-grid-background, 7%);
      }
    }
    &--level-2 {
      background-color: darken($s-grid-background, 10%);
      &:hover {
        background-color: darken($s-grid-background, 30%);
      }
    }
    &--level-3 {
      background-color: darken($s-grid-background, 15%);
      &:hover {
        background-color: darken($s-grid-background, 35%);
      }
    }
    &--level-4 {
      background-color: darken($s-grid-background, 20%);
      &:hover {
        background-color: darken($s-grid-background, 40%);
      }
    }
    &--level-5 {
      background-color: darken($s-grid-background, 25%);
      &:hover {
        background-color: darken($s-grid-background, 45%);
      }
    }
    &--level-6 {
      background-color: darken($s-grid-background, 30%);
      &:hover {
        background-color: darken($s-grid-background, 50%);
      }
    }
    &--level-7 {
      background-color: darken($s-grid-background, 35%);
      &:hover {
        background-color: darken($s-grid-background, 55%);
      }
    }
    &--level-8 {
      background-color: darken($s-grid-background, 40%);
      &:hover {
        background-color: darken($s-grid-background, 60%);
      }
    }
    &--level-9 {
      background-color: darken($s-grid-background, 45%);
      &:hover {
        background-color: darken($s-grid-background, 65%);
      }
    }
    &--level-10 {
      background-color: darken($s-grid-background, 50%);
      &:hover {
        background-color: darken($s-grid-background, 70%);
      }
    }
    &--level-11 {
      background-color: darken($s-grid-background, 55%);
      &:hover {
        background-color: darken($s-grid-background, 75%);
      }
    }
    &--level-12 {
      background-color: darken($s-grid-background, 60%);
      &:hover {
        background-color: darken($s-grid-background, 80%);
      }
    }
    &--level-13 {
      background-color: darken($s-grid-background, 65%);
      &:hover {
        background-color: darken($s-grid-background, 85%);
      }
    }
  }
}